* {
    padding: 0px;
    margin: 0px;
    font-family: "Bai Jamjuree", sans-serif;
}

body{
    background-image: url(./images/bg-header-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.starting-whithespace{
    height: 150px;
}

.logo {
    position:absolute;
    left: 48%;
    top: 125px;
}

h2 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #4c545d !important;
    font-weight: 600 !important;
    font-size: 45px !important;
}

h3 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #4c545d !important;
    font-weight: 600 !important;
    font-size: 34px !important;
}

p {
    width: 50%;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #9fabb2;
    font-weight: 400 !important;
    font-size: 20px !important;
}

.buttons-container{
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-top: 20px; 
}

button{
    color:white;
    margin: 0px 15px 100px 10px !important;
    border: none;
    width:220px;
    height: 60px;
    border-radius: 30px !important;
    font-weight: 400 !important;
    box-shadow: 2px 2px 0px #20a089; 
    cursor: pointer;
}

button:active {
    box-shadow: none; 
    transform: translateY(2px); 
}

.iOS{
    background-color: #26bba5;
}

.Mac{
    background-color: #6174ff;
}

.computer-container {
    margin: 80px 0 0 0;
    display: flex;
    justify-content:center;
    position: relative;
    left: -30px;
}

li {
    margin: 20px 20px 20px 20px;
    list-style: none;
}